<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-green-50 to-yellow-50 p-6">

    <div class="w-full max-w-md bg-white/80 backdrop-blur-xl rounded-2xl shadow-xl p-8 border border-white/40
              animate-scaleIn">

        <h2 class="text-3xl font-bold text-center text-gray-800 mb-6 animate-fadeUp">
            Create Your Account
        </h2>

        <form class="space-y-5" (ngSubmit)="onSignup()">
            <!-- Name -->
            <div class="animate-fadeUp [animation-delay:0.1s]">
                <label class="text-gray-700 font-medium">Full Name</label>
                <input type="text"
                    class="w-full mt-1 px-4 py-3 rounded-xl border border-gray-300 focus:ring-2 focus:ring-green-400 outline-none transition-all"
                    placeholder="John Carter" [(ngModel)]="name" name="name" required>
            </div>
            <!-- Email -->
            <div class="animate-fadeUp [animation-delay:0.2s]">
                <label class="text-gray-700 font-medium">Email Address</label>
                <input type="email"
                    class="w-full mt-1 px-4 py-3 rounded-xl border border-gray-300 focus:ring-2 focus:ring-green-400 outline-none transition-all"
                    placeholder="Email" [(ngModel)]="email" name="email" required>
            </div>
            <!-- Password -->
            <div class="animate-fadeUp [animation-delay:0.3s]">
                <label class="text-gray-700 font-medium">Password</label>
                <input type="password"
                    class="w-full mt-1 px-4 py-3 rounded-xl border border-gray-300 focus:ring-2 focus:ring-green-400 outline-none transition-all"
                    placeholder="Password" [(ngModel)]="password" name="password" required>
            </div>
            <!-- Confirm Password -->
            <div class="animate-fadeUp [animation-delay:0.4s]">
                <label class="text-gray-700 font-medium">Confirm Password</label>
                <input type="password"
                    class="w-full mt-1 px-4 py-3 rounded-xl border border-gray-300 focus:ring-2 focus:ring-green-400 outline-none transition-all"
                    placeholder="••••••••">
            </div>
            <!-- Button -->
            <button routerLink="/" (click)="onSignup()"
                class="w-full mt-3 py-3 rounded-xl bg-gradient-to-r from-green-500 to-yellow-500 text-white font-semibold text-lg transition
               hover:shadow-xl hover:-translate-y-1 hover:opacity-95 duration-300 animate-fadeUp [animation-delay:0.5s]">
                Create Account
            </button>
            <p class="text-center mt-3 text-gray-600 animate-fadeUp [animation-delay:0.6s]">
                Already have an account?
                <a routerLink="/" class="text-green-600 font-semibold">Login</a>
            </p>
        </form>


    </div>
</div>